<div class="card mb-3">
  <h2 class="card-header h4">
    Like #<%= like.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Photo</dt>
      <dd>
        <% if @like.photo.present? %>
          <%= link_to like.photo, like.photo %>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @like.user.present? %>
          <%= link_to like.user, like.user %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back like, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_like_url(like), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to like, method: :delete, data: { confirm: "Do you really want to delete this like?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(like.updated_at) %> ago
  </div>
</div>
