<%= form_with(model: @like, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :photo_id %>

    <%= f.collection_select :photo_id, Photo.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create like", class: "btn btn-block btn-outline-secondary" %>
<% end %>
