<% was_validated = photo.errors.any? %>

<%= form_with(model: photo, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for caption start -->
  <div class="form-group">
    <% caption_class = "form-control" %>
    <% caption_was_invalid = photo.errors.include?(:caption) %>

    <% if was_validated %>
      <% if caption_was_invalid %>
        <% caption_class << " is-invalid" %>
      <% else %>
        <% caption_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :caption %>
    <!-- Input for caption start -->
    <%= f.text_field :caption, class: caption_class, placeholder: "Enter caption" %>
    <!-- Input for caption end -->
    <% if caption_was_invalid %>
      <% photo.errors.full_messages_for(:caption).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for caption end -->
  <!-- Label and input for image start -->
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = photo.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <!-- Input for image start -->
    <%= f.text_field :image, class: image_class, placeholder: "Enter image" %>
    <!-- Input for image end -->
    <% if image_was_invalid %>
      <% photo.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for image end -->
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = photo.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% photo.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
