<%= form_with(model: @like, local: true) do |f| %>

  <%= f.hidden_field :photo_id, value: @photo.id %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create like", class: "btn btn-block btn-outline-secondary" %>
<% end %>
