<!-- Form comment start -->
<%= form_with(model: @comment, local: true) do |f| %>
<!-- Form comment end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for photo_id start -->
  <!-- Input for photo_id start -->
  <%= f.hidden_field :photo_id, value: @photo.id %>
  <!-- Input for photo_id end -->
  <!-- Label and input for photo_id end -->

  <!-- Label and input for contents start -->
  <div class="form-group">
    <%= f.label :contents %>
    <!-- Input for contents start -->
    <%= f.text_area :contents, rows: "3", class: "form-control" %>
    <!-- Input for contents end -->
  </div>
  <!-- Label and input for contents end -->

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
