<% was_validated = post.errors.any? %>

<%= form_with(model: post, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for body start -->
  <div class="form-group">
    <% body_class = "form-control" %>
    <% body_was_invalid = post.errors.include?(:body) %>

    <% if was_validated %>
      <% if body_was_invalid %>
        <% body_class << " is-invalid" %>
      <% else %>
        <% body_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :body %>
    <!-- Input for body start -->
    <%= f.text_field :body, class: body_class, placeholder: "Enter body" %>
    <!-- Input for body end -->
    <% if body_was_invalid %>
      <% post.errors.full_messages_for(:body).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for body end -->
  <!-- Label and input for image start -->
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = post.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <!-- Input for image start -->
    <%= f.text_field :image, class: image_class, placeholder: "Enter image" %>
    <!-- Input for image end -->
    <% if image_was_invalid %>
      <% post.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for image end -->
  <!-- Label and input for users_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = post.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :users_id %>
    <!-- Input for users_id start -->
    <%= f.collection_select :users_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for users_id end -->
    <% if user_was_invalid %>
      <% post.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for users_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
